Repository pranay-harness/harness-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: diptiman.adak@harness.io, udham.singh@harness.io, george@harness.io, guna.chandrasekaran@harness.io, @gupta-utkarsh, @ankit-harness, @prashantpal31

[PIE-1644]: Add tests for 800-pipeline-service (#28434)
  800-pipeline-service/src/test/java/io/harness/pms/filter/utils/ModuleInfoFilterUtilsTest.java
  800-pipeline-service/src/test/java/io/harness/pms/pipeline/gitsync/PipelineEntityGitSyncHelperTest.java
  800-pipeline-service/src/test/java/io/harness/pms/pipeline/mappers/GraphLayoutDtoMapperTest.java
  800-pipeline-service/src/test/java/io/harness/pms/pipeline/mappers/PipelineExecutionSummaryDtoMapperTest.java
  800-pipeline-service/src/test/java/io/harness/pms/pipeline/mappers/PipelineYamlDtoMapperTest.java
Owners: none

[CCM-5192]: fix cache key computation for cloudInfo pricing client (#28439)
  280-batch-processing/src/main/java/io/harness/batch/processing/pricing/vmpricing/VMPricingServiceImpl.java
  280-batch-processing/src/test/java/io/harness/batch/processing/pricing/vmpricing/VMPricingServiceImplTest.java
Owners: none

[CCM-5192]: fix cache key computation for cloudInfo pricing client (#28439)
  280-batch-processing/src/main/java/io/harness/batch/processing/pricing/vmpricing/VMPricingServiceImpl.java
  280-batch-processing/src/test/java/io/harness/batch/processing/pricing/vmpricing/VMPricingServiceImplTest.java
Owners: none

[CCM-5192]: fix cache key computation for cloudInfo pricing client (#28439)
  280-batch-processing/src/main/java/io/harness/batch/processing/pricing/vmpricing/VMPricingServiceImpl.java
  280-batch-processing/src/test/java/io/harness/batch/processing/pricing/vmpricing/VMPricingServiceImplTest.java
Owners: none

[CDP-19371]: allow ECS_RUN_TASK step for Multi-service deployment type (#28324)
  400-rest/src/main/java/software/wings/sm/StepType.java
Owners: none

[CDP-19371]: allow ECS_RUN_TASK step for Multi-service deployment type (#28324)
  400-rest/src/main/java/software/wings/sm/StepType.java
Owners: none

[CDP-19371]: allow ECS_RUN_TASK step for Multi-service deployment type (#28324)
  400-rest/src/main/java/software/wings/sm/StepType.java
Owners: none

[CDC-15243]: hotfix increase version no (#28437)
  925-access-control-service/src/main/resources/io/harness/accesscontrol/permissions/permissions.yml
  build.properties
Owners: @gupta-utkarsh, @ankit-harness

[CV-5925]: generated main maven
  project/main_maven_install.json
Owners: none

[PL-20802]: Change executeOnManager to executeOnDelegate (#28442)
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/impl/ScmOrchestratorServiceImpl.java
  440-connector-nextgen/src/main/java/io/harness/connector/entities/Connector.java
  440-connector-nextgen/src/main/java/io/harness/connector/mappers/ConnectorMapper.java
  440-connector-nextgen/src/test/resources/schema/Connectors/all.json
  954-connector-beans/src/main/java/io/harness/connector/ManagerExecutable.java
  954-connector-beans/src/main/java/io/harness/delegate/beans/connector/scm/github/GithubConnectorDTO.java
Owners: none

[PL-20802]: Change executeOnManager to executeOnDelegate (#28442)
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/impl/ScmOrchestratorServiceImpl.java
  440-connector-nextgen/src/main/java/io/harness/connector/entities/Connector.java
  440-connector-nextgen/src/main/java/io/harness/connector/mappers/ConnectorMapper.java
  440-connector-nextgen/src/test/resources/schema/Connectors/all.json
  954-connector-beans/src/main/java/io/harness/connector/ManagerExecutable.java
  954-connector-beans/src/main/java/io/harness/delegate/beans/connector/scm/github/GithubConnectorDTO.java
Owners: none

[PL-20802]: Change executeOnManager to executeOnDelegate (#28442)
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/impl/ScmOrchestratorServiceImpl.java
  440-connector-nextgen/src/main/java/io/harness/connector/entities/Connector.java
  440-connector-nextgen/src/main/java/io/harness/connector/mappers/ConnectorMapper.java
  440-connector-nextgen/src/test/resources/schema/Connectors/all.json
  954-connector-beans/src/main/java/io/harness/connector/ManagerExecutable.java
  954-connector-beans/src/main/java/io/harness/delegate/beans/connector/scm/github/GithubConnectorDTO.java
Owners: none

enabled appDynamics
  dockerization/ng-dashboard-service/scripts/start_process.sh
Owners: none

[CDP-19464]: Revert [CDP-18595]: empty variable overrides (#27318) (#28383)
  400-rest/src/main/java/software/wings/beans/ARMSourceType.java
  400-rest/src/main/java/software/wings/exception/InvalidYamlNameException.java
  400-rest/src/main/java/software/wings/graphql/schema/type/aggregation/QLTimeFilterType.java
  400-rest/src/main/java/software/wings/service/impl/yaml/service/YamlServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/yaml/util/YamlWorkflowValidator.java
  400-rest/src/test/java/software/wings/service/impl/yaml/service/YamlServiceImplTest.java
  960-api-services/src/main/java/software/wings/service/impl/yaml/service/YamlFieldValidator.java
  960-api-services/src/test/java/software/wings/service/impl/yaml/service/YamlFieldValidatorTest.java
Owners: none

[CDP-19464]: Revert [CDP-18595]: empty variable overrides (#27318) (#28383)
  400-rest/src/main/java/software/wings/beans/ARMSourceType.java
  400-rest/src/main/java/software/wings/exception/InvalidYamlNameException.java
  400-rest/src/main/java/software/wings/graphql/schema/type/aggregation/QLTimeFilterType.java
  400-rest/src/main/java/software/wings/service/impl/yaml/service/YamlServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/yaml/util/YamlWorkflowValidator.java
  400-rest/src/test/java/software/wings/service/impl/yaml/service/YamlServiceImplTest.java
  960-api-services/src/main/java/software/wings/service/impl/yaml/service/YamlFieldValidator.java
  960-api-services/src/test/java/software/wings/service/impl/yaml/service/YamlFieldValidatorTest.java
Owners: none

[CDP-19464]: Revert [CDP-18595]: empty variable overrides (#27318) (#28383)
  400-rest/src/main/java/software/wings/beans/ARMSourceType.java
  400-rest/src/main/java/software/wings/exception/InvalidYamlNameException.java
  400-rest/src/main/java/software/wings/graphql/schema/type/aggregation/QLTimeFilterType.java
  400-rest/src/main/java/software/wings/service/impl/yaml/service/YamlServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/yaml/util/YamlWorkflowValidator.java
  400-rest/src/test/java/software/wings/service/impl/yaml/service/YamlServiceImplTest.java
  960-api-services/src/main/java/software/wings/service/impl/yaml/service/YamlFieldValidator.java
  960-api-services/src/test/java/software/wings/service/impl/yaml/service/YamlFieldValidatorTest.java
Owners: none

[CDC-14962]: set runtime input config as null if all variables deleted in workflow (#28403)
  400-rest/src/main/java/software/wings/service/impl/pipeline/PipelineServiceValidator.java
  400-rest/src/test/java/software/wings/service/impl/pipeline/PipelineServiceValidatorTest.java
Owners: none

[CDC-14962]: set runtime input config as null if all variables deleted in workflow (#28403)
  400-rest/src/main/java/software/wings/service/impl/pipeline/PipelineServiceValidator.java
  400-rest/src/test/java/software/wings/service/impl/pipeline/PipelineServiceValidatorTest.java
Owners: none

[CDC-14962]: set runtime input config as null if all variables deleted in workflow (#28403)
  400-rest/src/main/java/software/wings/service/impl/pipeline/PipelineServiceValidator.java
  400-rest/src/test/java/software/wings/service/impl/pipeline/PipelineServiceValidatorTest.java
Owners: none

[PL-20816]: Add the filter to only show open api3 apis (#28443)
  120-ng-manager/src/main/java/io/harness/ng/NextGenApplication.java
Owners: none

[PL-20816]: Add the filter to only show open api3 apis (#28443)
  120-ng-manager/src/main/java/io/harness/ng/NextGenApplication.java
Owners: none

[PL-20816]: Add the filter to only show open api3 apis (#28443)
  120-ng-manager/src/main/java/io/harness/ng/NextGenApplication.java
Owners: none

[PL-13917]: Adding library AWS encryption SDK (#28428)
  890-sm-core/BUILD.bazel
  890-sm-core/pom.xml
  WORKSPACE
  pom.xml
  project/main_maven_install.json
Owners: diptiman.adak@harness.io

[PL-13917]: Adding library AWS encryption SDK (#28428)
  890-sm-core/BUILD.bazel
  890-sm-core/pom.xml
  WORKSPACE
  pom.xml
  project/main_maven_install.json
Owners: diptiman.adak@harness.io

[PL-13917]: Adding library AWS encryption SDK (#28428)
  890-sm-core/BUILD.bazel
  890-sm-core/pom.xml
  WORKSPACE
  pom.xml
  project/main_maven_install.json
Owners: diptiman.adak@harness.io

[CDC-14902]: increase barrier instance ttl to 6 months (#28440)
  400-rest/src/main/java/software/wings/beans/BarrierInstance.java
Owners: none

[CDC-14902]: increase barrier instance ttl to 6 months (#28440)
  400-rest/src/main/java/software/wings/beans/BarrierInstance.java
Owners: none

[CDC-14902]: increase barrier instance ttl to 6 months (#28440)
  400-rest/src/main/java/software/wings/beans/BarrierInstance.java
Owners: none

[CDC-13986]: handle failure type in Delegate Task Queue
  260-delegate/src/main/java/io/harness/delegate/service/DelegateAgentServiceImpl.java
  360-cg-manager/config.yml
  400-rest/src/main/java/io/harness/workers/background/critical/iterator/WorkflowExecutionMonitorHandler.java
  400-rest/src/main/java/software/wings/app/DelegateQueueTask.java
  400-rest/src/main/java/software/wings/beans/delegation/ShellScriptParameters.java
  400-rest/src/main/java/software/wings/sm/StateMachineExecutor.java
  400-rest/src/main/java/software/wings/sm/states/ShellScriptState.java
  950-delegate-tasks-beans/src/main/java/io/harness/delegate/beans/DelegateTaskResponse.java
  970-rbac-core/src/main/java/software/wings/security/PermissionAttribute.java
Owners: none

[DEL-2585]: Use pkill as UBI has a problem with kill command (#28422)
  260-delegate/container/scripts/stop.sh
  400-rest/src/main/resources/delegatetemplates/stop.sh.ftl
  400-rest/src/test/resources/expectedStopOpenJdk.sh
  dockerization/delegate/scripts/stop.sh
Owners: none

[DEL-2585]: Use pkill as UBI has a problem with kill command (#28422)
  260-delegate/container/scripts/stop.sh
  400-rest/src/main/resources/delegatetemplates/stop.sh.ftl
  400-rest/src/test/resources/expectedStopOpenJdk.sh
  dockerization/delegate/scripts/stop.sh
Owners: none

[DEL-2585]: Use pkill as UBI has a problem with kill command (#28422)
  260-delegate/container/scripts/stop.sh
  400-rest/src/main/resources/delegatetemplates/stop.sh.ftl
  400-rest/src/test/resources/expectedStopOpenJdk.sh
  dockerization/delegate/scripts/stop.sh
Owners: none

[DEL]: add missing config in dms
  270-delegate-service-app/delegate-service-config.yml
Owners: none

[DEL-2585]: hotfix use pkill for ubi (#28450)
  260-delegate/container/scripts/stop.sh
  400-rest/src/main/resources/delegatetemplates/stop.sh.ftl
  400-rest/src/test/resources/expectedStopOpenJdk.sh
  build.properties
  dockerization/delegate/scripts/stop.sh
Owners: none

[DEL-2738]: Delegate anounces supported task types during registration (#28411)
  260-delegate/src/main/java/io/harness/delegate/service/DelegateAgentServiceImpl.java
  400-rest/src/main/java/software/wings/resources/DelegateAgentResource.java
  400-rest/src/main/java/software/wings/service/impl/DelegateServiceImpl.java
  420-delegate-service/src/main/java/io/harness/delegate/beans/Delegate.java
  920-delegate-agent-beans/src/main/java/io/harness/delegate/beans/DelegateParams.java
Owners: none

[DEL-2738]: Delegate anounces supported task types during registration (#28411)
  260-delegate/src/main/java/io/harness/delegate/service/DelegateAgentServiceImpl.java
  400-rest/src/main/java/software/wings/resources/DelegateAgentResource.java
  400-rest/src/main/java/software/wings/service/impl/DelegateServiceImpl.java
  420-delegate-service/src/main/java/io/harness/delegate/beans/Delegate.java
  920-delegate-agent-beans/src/main/java/io/harness/delegate/beans/DelegateParams.java
Owners: none

[DEL-2738]: Delegate anounces supported task types during registration (#28411)
  260-delegate/src/main/java/io/harness/delegate/service/DelegateAgentServiceImpl.java
  400-rest/src/main/java/software/wings/resources/DelegateAgentResource.java
  400-rest/src/main/java/software/wings/service/impl/DelegateServiceImpl.java
  420-delegate-service/src/main/java/io/harness/delegate/beans/Delegate.java
  920-delegate-agent-beans/src/main/java/io/harness/delegate/beans/DelegateParams.java
Owners: none

updated
  420-delegate-service/src/main/java/io/harness/perpetualtask/grpc/PerpetualTaskServiceGrpc.java
  930-delegate-tasks/src/main/java/io/harness/perpetualtask/grpc/PerpetualTaskServiceGrpcClient.java
Owners: none

updated
  930-delegate-tasks/src/main/java/io/harness/perpetualtask/grpc/PerpetualTaskServiceGrpcClient.java
Owners: none

[CV-5925]: fix noClassDef issue for AbstractValueFactoryProvider
  WORKSPACE
  project/main_maven_install.json
Owners: diptiman.adak@harness.io

.github/CODEOWNERS:

DockerFile* diptiman.adak@harness.io udham.singh@harness.io george@harness.io guna.chandrasekaran@harness.io
WORKSPACE diptiman.adak@harness.io
/925-access-control-service/src/main/resources/io/harness/accesscontrol/ @gupta-utkarsh @ankit-harness
/125-cd-nextgen/src/test/resources/recaster/alias/alias.txt @prashantpal31
/300-cv-nextgen/src/test/resources/recaster/alias/alias.txt @prashantpal31
/320-ci-execution/src/test/resources/recaster/alias/alias.txt @prashantpal31
/800-pipeline-service/src/test/resources/recaster/alias/alias.txt @prashantpal31
/860-orchestration-steps/src/test/resources/recaster/alias/alias.txt @prashantpal31
/860-orchestration-visualization/src/test/resources/recaster/alias/alias.txt @prashantpal31
/870-orchestration/src/test/resources/recaster/alias/alias.txt @prashantpal31
