Repository pranay-harness/harness-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: diptiman.adak@harness.io, udham.singh@harness.io, george@harness.io, guna.chandrasekaran@harness.io, @gupta-utkarsh, @ankit-harness, @prashantpal31

[CDP-18573]: fixed kryo register issue for AwsVPC class (#27178)
  400-rest/src/main/java/io/harness/serializer/kryo/ManagerKryoRegistrar.java
  950-delegate-tasks-beans/src/main/java/io/harness/serializer/kryo/DelegateTasksBeansKryoRegister.java
Owners: none

[CDP-18573]: fixed kryo register issue for AwsVPC class (#27178)
  400-rest/src/main/java/io/harness/serializer/kryo/ManagerKryoRegistrar.java
  950-delegate-tasks-beans/src/main/java/io/harness/serializer/kryo/DelegateTasksBeansKryoRegister.java
Owners: none

Update DelegateProfileServiceGrpcImplTest.java
  400-rest/src/test/java/io/harness/grpc/DelegateProfileServiceGrpcImplTest.java
Owners: none

Update WORKSPACE
  WORKSPACE
Owners: diptiman.adak@harness.io

[DEL-2422]: Add DMS grcp client config to microservices
  820-platform-service/config.yml
  830-notification-service/config.yml
Owners: none

[DEL-2422]: Add DMS grcp client config to microservices
  830-notification-service/config.yml
Owners: none

[DEL-2420]: remove unused delegate feature flags
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
Owners: none

[DEL-2422]: Add DMS grcp client config to microservices
  400-rest/src/main/java/software/wings/service/intfc/DelegateScopeService.java
Owners: none

Revert "[DEL-2422]: Add DMS grcp client config to microservices"
  830-notification-service/config.yml
Owners: none

[DEL-2420]: remove unused delegate feature flags (#27054)
  420-delegate-service/src/main/java/software/wings/cdn/CdnConfig.java
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
Owners: none

[DEL-2420]: remove unused delegate feature flags (#27054)
  420-delegate-service/src/main/java/software/wings/cdn/CdnConfig.java
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
Owners: none

[PL-19348]: Update the version of safe image for access control
  dockerization/accesscontrol-service/Dockerfile-accesscontrol-service-jenkins-k8-gcr-openjdk
  dockerization/accesscontrol-service/Dockerfile-accesscontrol-service-jenkins-k8-openjdk
Owners: none

[BT-322]: add support for static support for the module enum (#27120)
  920-delegate-agent-beans/src/main/java/software/wings/helpers/ext/url/SubdomainUrlHelperIntfc.java
  980-commons/src/main/java/io/harness/serializer/HKryo.java
  tools/rust/aeriform/src/execute/execute.rs
  tools/rust/aeriform/src/execute/execute_apply_target.rs
  tools/rust/aeriform/src/execute/execute_class_move.rs
  tools/rust/aeriform/src/java_class.rs
Owners: none

[BT-322]: add support for static support for the module enum (#27120)
  920-delegate-agent-beans/src/main/java/software/wings/helpers/ext/url/SubdomainUrlHelperIntfc.java
  980-commons/src/main/java/io/harness/serializer/HKryo.java
  tools/rust/aeriform/src/execute/execute.rs
  tools/rust/aeriform/src/execute/execute_apply_target.rs
  tools/rust/aeriform/src/execute/execute_class_move.rs
  tools/rust/aeriform/src/java_class.rs
Owners: none

aeriform fix
  400-rest/src/main/java/software/wings/service/intfc/DelegateScopeService.java
Owners: none

aeriform fix
  420-delegate-service/src/main/java/software/wings/delegatetasks/validation/DelegateConnectionResult.java
Owners: none

Revert "aeriform fix"
  420-delegate-service/src/main/java/software/wings/delegatetasks/validation/DelegateConnectionResult.java
Owners: none

aeriform fix
  950-delegate-tasks-beans/src/main/java/io/harness/delegate/beans/TaskGroup.java
Owners: none

aeriform fix
  955-delegate-beans/src/main/java/io/harness/delegate/beans/TaskGroup.java
Owners: none

[CVNG-3166]: remove Description from ChangeSource, as not required (#27160)
  300-cv-nextgen/src/main/java/io/harness/cvng/core/beans/monitoredService/ChangeSourceDTO.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/entities/changeSource/ChangeSource.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/transformer/changeSource/ChangeSourceSpecTransformer.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/transformer/changeSource/HarnessCDChangeSourceSpecTransformer.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/transformer/changeSource/PagerDutyChangeSourceSpecTransformer.java
  300-cv-nextgen/src/main/resources/io/harness/cvng/core/services/impl/monitoredService/monitored-service-template.yaml
  300-cv-nextgen/src/test/java/io/harness/cvng/BuilderFactory.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/services/impl/monitoredService/ChangeSourceServiceImplTest.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/transformer/changeSource/HarnessCDChangeSourceSpecTransformerTest.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/transformer/changeSource/PagerDutyChangeSourceSpecTransformerTest.java
Owners: none

[CVNG-3166]: remove Description from ChangeSource, as not required (#27160)
  300-cv-nextgen/src/main/java/io/harness/cvng/core/beans/monitoredService/ChangeSourceDTO.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/entities/changeSource/ChangeSource.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/transformer/changeSource/ChangeSourceSpecTransformer.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/transformer/changeSource/HarnessCDChangeSourceSpecTransformer.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/transformer/changeSource/PagerDutyChangeSourceSpecTransformer.java
  300-cv-nextgen/src/main/resources/io/harness/cvng/core/services/impl/monitoredService/monitored-service-template.yaml
  300-cv-nextgen/src/test/java/io/harness/cvng/BuilderFactory.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/services/impl/monitoredService/ChangeSourceServiceImplTest.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/transformer/changeSource/HarnessCDChangeSourceSpecTransformerTest.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/transformer/changeSource/PagerDutyChangeSourceSpecTransformerTest.java
Owners: none

[CVNG-3166]: Change Source update fix (#27185)
  300-cv-nextgen/src/main/java/io/harness/cvng/core/services/impl/monitoredService/MonitoredServiceServiceImpl.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/services/impl/monitoredService/MonitoredServiceServiceImplTest.java
Owners: none

[CVNG-3166]: Change Source update fix (#27185)
  300-cv-nextgen/src/main/java/io/harness/cvng/core/services/impl/monitoredService/MonitoredServiceServiceImpl.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/services/impl/monitoredService/MonitoredServiceServiceImplTest.java
Owners: none

remove wrong config file
  830-notification-service/config.yml
Owners: none

[CVNG-3347]: add type support for template API
  300-cv-nextgen/src/main/java/io/harness/cvng/core/resources/MonitoredServiceResource.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/services/api/monitoredService/MonitoredServiceService.java
  300-cv-nextgen/src/main/java/io/harness/cvng/core/services/impl/monitoredService/MonitoredServiceServiceImpl.java
  300-cv-nextgen/src/main/resources/io/harness/cvng/core/services/impl/monitoredService/application-monitored-service-template.yaml
  430-cv-nextgen-commons/src/main/java/io/harness/cvng/beans/MonitoredServiceType.java
Owners: none

[CDP-18308]: Update jackson databind library
  260-delegate/src/test/resources/dependenciesInRestCapsule.txt
  400-rest/src/main/java/software/wings/search/entities/related/audit/RelatedAuditViewBuilder.java
  400-rest/src/main/java/software/wings/search/entities/related/deployment/RelatedDeploymentViewBuilder.java
  980-commons/src/main/java/io/harness/serializer/JsonSubtypeResolver.java
  WORKSPACE
  pom.xml
Owners: diptiman.adak@harness.io

[CDP-18635]: Enabled delete perpetual task migration (#27122)
  390-db-migration/src/main/java/io/harness/migrations/MigrationBackgroundList.java
  390-db-migration/src/main/java/io/harness/migrations/all/DeleteOrphanPerpetualTaskMigration.java
  870-cg-orchestration/src/main/java/software/wings/infra/SshBasedInfrastructure.java
Owners: none

[CDP-18635]: Enabled delete perpetual task migration (#27122)
  390-db-migration/src/main/java/io/harness/migrations/MigrationBackgroundList.java
  390-db-migration/src/main/java/io/harness/migrations/all/DeleteOrphanPerpetualTaskMigration.java
  870-cg-orchestration/src/main/java/software/wings/infra/SshBasedInfrastructure.java
Owners: none

[PIE-205]: Write test for PreFlightServiceImpl (#27189)
  800-pipeline-service/src/main/java/io/harness/pms/preflight/service/PreflightServiceImpl.java
  800-pipeline-service/src/test/java/io/harness/pms/preflight/service/PreflightServiceImplTest.java
Owners: none

[PIE-205]: Write test for PreFlightServiceImpl (#27189)
  800-pipeline-service/src/main/java/io/harness/pms/preflight/service/PreflightServiceImpl.java
  800-pipeline-service/src/test/java/io/harness/pms/preflight/service/PreflightServiceImplTest.java
Owners: none

[PIE-1229]: Fixed ParameterFieldSerializer (#27193)
  970-ng-commons/src/main/java/io/serializer/jackson/ParameterFieldSerializer.java
Owners: none

[PIE-1229]: Fixed ParameterFieldSerializer (#27193)
  970-ng-commons/src/main/java/io/serializer/jackson/ParameterFieldSerializer.java
Owners: none

[DEL-2466]: revert del 2275 (#27182)
  120-ng-manager/src/main/java/io/harness/ng/core/api/impl/DelegateDetailsServiceImpl.java
  420-delegate-service/src/main/java/software/wings/resources/DelegateSelectionLogResource.java
Owners: none

[DEL-2466]: revert del 2275 (#27182)
  120-ng-manager/src/main/java/io/harness/ng/core/api/impl/DelegateDetailsServiceImpl.java
  420-delegate-service/src/main/java/software/wings/resources/DelegateSelectionLogResource.java
Owners: none

[PL-12764]: upgraded jackson-databind,core,annotations and afterburner
  980-commons/src/main/java/io/harness/serializer/JsonSubtypeResolver.java
  WORKSPACE
  maven_install.json
  pom.xml
Owners: diptiman.adak@harness.io

[PIE-1225]: Fixed not executing multiple rollback steps (#27184)
  125-cd-nextgen/src/main/java/io/harness/cdng/creator/plan/rollback/ExecutionStepsRollbackPMSPlanCreator.java
  860-orchestration-visualization/src/test/resources/recaster/alias/alias.txt
  870-orchestration/src/test/resources/recaster/alias/alias.txt
  build.properties
Owners: @prashantpal31

[PIE-1225]: Fixed not executing multiple rollback steps (#27187)
  125-cd-nextgen/src/main/java/io/harness/cdng/creator/plan/rollback/ExecutionStepsRollbackPMSPlanCreator.java
Owners: none

[PIE-1225]: Fixed not executing multiple rollback steps (#27187)
  125-cd-nextgen/src/main/java/io/harness/cdng/creator/plan/rollback/ExecutionStepsRollbackPMSPlanCreator.java
Owners: none

[PL-12764]: upgrade jackson databind, core, afterburner, annotations
  980-commons/src/main/java/io/harness/serializer/JsonSubtypeResolver.java
  WORKSPACE
  pom.xml
  project/main_maven_install.json
Owners: diptiman.adak@harness.io

[CVNG-3345]: health source api to return namespaced identifier (#27176)
  300-cv-nextgen/src/main/java/io/harness/cvng/core/services/impl/monitoredService/MonitoredServiceServiceImpl.java
  300-cv-nextgen/src/test/java/io/harness/cvng/core/services/impl/monitoredService/MonitoredServiceServiceImplTest.java
Owners: none

.github/CODEOWNERS:

DockerFile* diptiman.adak@harness.io udham.singh@harness.io george@harness.io guna.chandrasekaran@harness.io
WORKSPACE diptiman.adak@harness.io
/925-access-control-service/src/main/resources/io/harness/accesscontrol/ @gupta-utkarsh @ankit-harness
alias.txt @prashantpal31
