Repository pranay-harness/harness-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: diptiman.adak@harness.io, udham.singh@harness.io, george@harness.io, guna.chandrasekaran@harness.io, @gupta-utkarsh, @ankit-harness, @prashantpal31

[CDP-18713]: optimized git fetch files for k8s ng (#27531)
  125-cd-nextgen/src/main/java/io/harness/cdng/k8s/K8sStepHelper.java
  125-cd-nextgen/src/test/java/io/harness/cdng/k8s/K8sStepHelperTest.java
  260-delegate/src/test/java/software/wings/delegatetasks/k8s/K8sTaskHelperSecondaryTest.java
  930-delegate-tasks/src/main/java/io/harness/delegate/task/git/GitFetchTaskNG.java
  930-delegate-tasks/src/main/java/io/harness/delegate/task/git/ScmFetchFilesHelperNG.java
  930-delegate-tasks/src/main/java/io/harness/delegate/task/k8s/K8sTaskHelperBase.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/git/ScmFetchFilesHelperNGTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/k8s/K8sTaskHelperBaseTest.java
  950-delegate-tasks-beans/src/main/java/io/harness/delegate/beans/storeconfig/GitStoreDelegateConfig.java
Owners: none

[CDP-18713]: optimized git fetch files for k8s ng (#27531)
  125-cd-nextgen/src/main/java/io/harness/cdng/k8s/K8sStepHelper.java
  125-cd-nextgen/src/test/java/io/harness/cdng/k8s/K8sStepHelperTest.java
  260-delegate/src/test/java/software/wings/delegatetasks/k8s/K8sTaskHelperSecondaryTest.java
  930-delegate-tasks/src/main/java/io/harness/delegate/task/git/GitFetchTaskNG.java
  930-delegate-tasks/src/main/java/io/harness/delegate/task/git/ScmFetchFilesHelperNG.java
  930-delegate-tasks/src/main/java/io/harness/delegate/task/k8s/K8sTaskHelperBase.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/git/ScmFetchFilesHelperNGTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/k8s/K8sTaskHelperBaseTest.java
  950-delegate-tasks-beans/src/main/java/io/harness/delegate/beans/storeconfig/GitStoreDelegateConfig.java
Owners: none

[PIE-1548]: CreatedAt, LastModifiedAt fields not getting populated for Service and Environment in MongoDB (#28124)
  950-ng-core/src/main/java/io/harness/ng/core/environment/mappers/EnvironmentFilterHelper.java
  950-ng-core/src/main/java/io/harness/ng/core/service/mappers/ServiceFilterHelper.java
  950-ng-core/src/test/java/io/harness/ng/core/environment/mappers/EnvironmentFilterHelperTest.java
  950-ng-core/src/test/java/io/harness/ng/core/service/mappers/ServiceFilterHelperTest.java
Owners: none

[PIE-1548]: CreatedAt, LastModifiedAt fields not getting populated for Service and Environment in MongoDB (#28124)
  950-ng-core/src/main/java/io/harness/ng/core/environment/mappers/EnvironmentFilterHelper.java
  950-ng-core/src/main/java/io/harness/ng/core/service/mappers/ServiceFilterHelper.java
  950-ng-core/src/test/java/io/harness/ng/core/environment/mappers/EnvironmentFilterHelperTest.java
  950-ng-core/src/test/java/io/harness/ng/core/service/mappers/ServiceFilterHelperTest.java
Owners: none

[PIE-1548]: CreatedAt, LastModifiedAt fields not getting populated for Service and Environment in MongoDB (#28124)
  950-ng-core/src/main/java/io/harness/ng/core/environment/mappers/EnvironmentFilterHelper.java
  950-ng-core/src/main/java/io/harness/ng/core/service/mappers/ServiceFilterHelper.java
  950-ng-core/src/test/java/io/harness/ng/core/environment/mappers/EnvironmentFilterHelperTest.java
  950-ng-core/src/test/java/io/harness/ng/core/service/mappers/ServiceFilterHelperTest.java
Owners: none

[CDC-15573]: Add -L flag for downloading artifacts from artifactory (#28140)
  400-rest/src/main/java/software/wings/beans/command/DownloadArtifactCommandUnit.java
Owners: none

[CDC-15573]: Add -L flag for downloading artifacts from artifactory (#28140)
  400-rest/src/main/java/software/wings/beans/command/DownloadArtifactCommandUnit.java
Owners: none

[CDC-15573]: Add -L flag for downloading artifacts from artifactory (#28140)
  400-rest/src/main/java/software/wings/beans/command/DownloadArtifactCommandUnit.java
Owners: none

[CV-5925]: upgrade dropwizard
  260-delegate/src/test/resources/dependenciesInRestCapsule.txt
  WORKSPACE
  project/main_maven_install.json
Owners: diptiman.adak@harness.io

[CDC-14682]: delete orphaned manifest collection perpetual tasks (#26978)
  400-rest/src/main/java/io/harness/manifest/ManifestCollectionResponseHandler.java
  400-rest/src/main/java/software/wings/service/impl/ApplicationManifestServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/applicationmanifest/AppManifestPTaskHelper.java
  400-rest/src/main/java/software/wings/service/impl/applicationmanifest/ManifestCollectionUtils.java
  400-rest/src/main/java/software/wings/service/intfc/ApplicationManifestService.java
  400-rest/src/test/java/io/harness/manifest/ManifestCollectionResponseHandlerTest.java
  400-rest/src/test/java/software/wings/service/impl/applicationmanifest/ManifestCollectionUtilsTest.java
Owners: none

[CDC-14682]: delete orphaned manifest collection perpetual tasks (#26978)
  400-rest/src/main/java/io/harness/manifest/ManifestCollectionResponseHandler.java
  400-rest/src/main/java/software/wings/service/impl/ApplicationManifestServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/applicationmanifest/AppManifestPTaskHelper.java
  400-rest/src/main/java/software/wings/service/impl/applicationmanifest/ManifestCollectionUtils.java
  400-rest/src/main/java/software/wings/service/intfc/ApplicationManifestService.java
  400-rest/src/test/java/io/harness/manifest/ManifestCollectionResponseHandlerTest.java
  400-rest/src/test/java/software/wings/service/impl/applicationmanifest/ManifestCollectionUtilsTest.java
Owners: none

[CDC-14682]: delete orphaned manifest collection perpetual tasks (#26978)
  400-rest/src/main/java/io/harness/manifest/ManifestCollectionResponseHandler.java
  400-rest/src/main/java/software/wings/service/impl/ApplicationManifestServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/applicationmanifest/AppManifestPTaskHelper.java
  400-rest/src/main/java/software/wings/service/impl/applicationmanifest/ManifestCollectionUtils.java
  400-rest/src/main/java/software/wings/service/intfc/ApplicationManifestService.java
  400-rest/src/test/java/io/harness/manifest/ManifestCollectionResponseHandlerTest.java
  400-rest/src/test/java/software/wings/service/impl/applicationmanifest/ManifestCollectionUtilsTest.java
Owners: none

[PL-13917]: init commit - added aws encryption sdk, created feature flag for local encryption
  890-sm-core/BUILD.bazel
  890-sm-core/pom.xml
  890-sm-core/src/main/java/io/harness/encryptors/clients/LocalEncryptor.java
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
  WORKSPACE
  pom.xml
  project/main_maven_install.json
Owners: diptiman.adak@harness.io

[PL-17645]: Fixed ecs instance sync perpetual task deletion handling
  400-rest/src/main/java/software/wings/service/impl/instance/ContainerInstanceHandler.java
Owners: none

[CDC-14690]: resolve deployment tags before starting execution (#27764)
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionUpdate.java
  400-rest/src/test/java/software/wings/service/impl/workflow/WorkflowExecutionUpdateTest.java
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
Owners: none

[CDC-14690]: resolve deployment tags before starting execution (#27764)
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionUpdate.java
  400-rest/src/test/java/software/wings/service/impl/workflow/WorkflowExecutionUpdateTest.java
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
Owners: none

[CDC-14690]: resolve deployment tags before starting execution (#27764)
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionUpdate.java
  400-rest/src/test/java/software/wings/service/impl/workflow/WorkflowExecutionUpdateTest.java
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
Owners: none

[CI-2742]: Refactor lite engine task to initialize task (#28137)
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/CIIntegrationStageModifier.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/CIStepGroupUtils.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/InitializeStepGenerator.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/CIModuleInfoProvider.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/stage/IntegrationStagePMSPlanCreator.java
  320-ci-execution/src/main/java/io/harness/registrars/ExecutionRegistrar.java
  320-ci-execution/src/main/java/io/harness/states/AbstractStepExecutable.java
  320-ci-execution/src/main/java/io/harness/states/InitializeTaskStep.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/BuildSetupUtils.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/K8BuildSetupUtils.java
  320-ci-execution/src/test/java/io/harness/ci/integrationstage/InitializeStepGeneratorTest.java
  320-ci-execution/src/test/java/io/harness/executionplan/CIExecutionPlanTestHelper.java
  320-ci-execution/src/test/java/io/harness/integrationstage/CIIntegrationStageModifierTest.java
  320-ci-execution/src/test/java/io/harness/integrationstage/CIStepGroupUtilsTest.java
  320-ci-execution/src/test/java/io/harness/states/InitializeTaskStepTest.java
  320-ci-execution/src/test/java/io/harness/states/RunStepTest.java
  320-ci-execution/src/test/resources/recaster/alias/alias.txt
  330-ci-beans/src/main/java/io/harness/beans/steps/CIStepInfoType.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/InitializeStepInfo.java
  330-ci-beans/src/main/java/io/harness/serializer/kryo/CIBeansKryoRegistrar.java
Owners: @prashantpal31

[CI-2742]: Refactor lite engine task to initialize task (#28137)
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/CIIntegrationStageModifier.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/CIStepGroupUtils.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/InitializeStepGenerator.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/CIModuleInfoProvider.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/stage/IntegrationStagePMSPlanCreator.java
  320-ci-execution/src/main/java/io/harness/registrars/ExecutionRegistrar.java
  320-ci-execution/src/main/java/io/harness/states/AbstractStepExecutable.java
  320-ci-execution/src/main/java/io/harness/states/InitializeTaskStep.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/BuildSetupUtils.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/K8BuildSetupUtils.java
  320-ci-execution/src/test/java/io/harness/ci/integrationstage/InitializeStepGeneratorTest.java
  320-ci-execution/src/test/java/io/harness/executionplan/CIExecutionPlanTestHelper.java
  320-ci-execution/src/test/java/io/harness/integrationstage/CIIntegrationStageModifierTest.java
  320-ci-execution/src/test/java/io/harness/integrationstage/CIStepGroupUtilsTest.java
  320-ci-execution/src/test/java/io/harness/states/InitializeTaskStepTest.java
  320-ci-execution/src/test/java/io/harness/states/RunStepTest.java
  320-ci-execution/src/test/resources/recaster/alias/alias.txt
  330-ci-beans/src/main/java/io/harness/beans/steps/CIStepInfoType.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/InitializeStepInfo.java
  330-ci-beans/src/main/java/io/harness/serializer/kryo/CIBeansKryoRegistrar.java
Owners: @prashantpal31

[CI-2742]: Refactor lite engine task to initialize task (#28137)
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/CIIntegrationStageModifier.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/CIStepGroupUtils.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/InitializeStepGenerator.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/CIModuleInfoProvider.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/stage/IntegrationStagePMSPlanCreator.java
  320-ci-execution/src/main/java/io/harness/registrars/ExecutionRegistrar.java
  320-ci-execution/src/main/java/io/harness/states/AbstractStepExecutable.java
  320-ci-execution/src/main/java/io/harness/states/InitializeTaskStep.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/BuildSetupUtils.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/K8BuildSetupUtils.java
  320-ci-execution/src/test/java/io/harness/ci/integrationstage/InitializeStepGeneratorTest.java
  320-ci-execution/src/test/java/io/harness/executionplan/CIExecutionPlanTestHelper.java
  320-ci-execution/src/test/java/io/harness/integrationstage/CIIntegrationStageModifierTest.java
  320-ci-execution/src/test/java/io/harness/integrationstage/CIStepGroupUtilsTest.java
  320-ci-execution/src/test/java/io/harness/states/InitializeTaskStepTest.java
  320-ci-execution/src/test/java/io/harness/states/RunStepTest.java
  320-ci-execution/src/test/resources/recaster/alias/alias.txt
  330-ci-beans/src/main/java/io/harness/beans/steps/CIStepInfoType.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/InitializeStepInfo.java
  330-ci-beans/src/main/java/io/harness/serializer/kryo/CIBeansKryoRegistrar.java
Owners: @prashantpal31

[CCM-5109]: Use protobuf serialization in publishClusterSyncEvent (#28006)
  260-delegate/src/main/java/io/harness/perpetualtask/k8s/watch/K8SWatchTaskExecutor.java
  260-delegate/src/test/java/io/harness/perpetualtask/k8s/watch/K8SWatchTaskExecutorTest.java
Owners: none

[CCM-5109]: Use protobuf serialization in publishClusterSyncEvent (#28006)
  260-delegate/src/main/java/io/harness/perpetualtask/k8s/watch/K8SWatchTaskExecutor.java
  260-delegate/src/test/java/io/harness/perpetualtask/k8s/watch/K8SWatchTaskExecutorTest.java
Owners: none

[CCM-5109]: Use protobuf serialization in publishClusterSyncEvent (#28006)
  260-delegate/src/main/java/io/harness/perpetualtask/k8s/watch/K8SWatchTaskExecutor.java
  260-delegate/src/test/java/io/harness/perpetualtask/k8s/watch/K8SWatchTaskExecutorTest.java
Owners: none

[CCM-5105]: refactor use Bean (#28144)
  280-batch-processing/src/main/java/io/harness/batch/processing/config/ActualIdleCostBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AnomalyDetectionConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AwsECSClusterDataSyncConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AwsECSClusterSyncConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AzureStorageSyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/BillingBatchConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/BillingDataPipelineConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/ClusterDataToBigQueryConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/DataCheckBigqueryAndTimescaleConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/DeploymentEventConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/GcpSyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/K8sBatchConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/K8sUtilizationConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/NodePodCountBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/RerunJobBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/S3SyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/recommendation/K8sWorkloadRecommendationConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/recommendation/NodeRecommendationConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/resource/change/K8sWatchEventConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/schedule/SegmentJobConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/svcmetrics/BatchJobExecutionListener.java
Owners: none

[CCM-5105]: refactor use Bean (#28144)
  280-batch-processing/src/main/java/io/harness/batch/processing/config/ActualIdleCostBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AnomalyDetectionConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AwsECSClusterDataSyncConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AwsECSClusterSyncConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AzureStorageSyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/BillingBatchConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/BillingDataPipelineConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/ClusterDataToBigQueryConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/DataCheckBigqueryAndTimescaleConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/DeploymentEventConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/GcpSyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/K8sBatchConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/K8sUtilizationConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/NodePodCountBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/RerunJobBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/S3SyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/recommendation/K8sWorkloadRecommendationConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/recommendation/NodeRecommendationConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/resource/change/K8sWatchEventConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/schedule/SegmentJobConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/svcmetrics/BatchJobExecutionListener.java
Owners: none

[CCM-5105]: refactor use Bean (#28144)
  280-batch-processing/src/main/java/io/harness/batch/processing/config/ActualIdleCostBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AnomalyDetectionConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AwsECSClusterDataSyncConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AwsECSClusterSyncConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/AzureStorageSyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/BillingBatchConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/BillingDataPipelineConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/ClusterDataToBigQueryConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/DataCheckBigqueryAndTimescaleConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/DeploymentEventConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/GcpSyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/K8sBatchConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/K8sUtilizationConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/NodePodCountBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/RerunJobBatchConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/S3SyncJobConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/recommendation/K8sWorkloadRecommendationConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/recommendation/NodeRecommendationConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/config/k8s/resource/change/K8sWatchEventConfig.java
  280-batch-processing/src/main/java/io/harness/batch/processing/schedule/SegmentJobConfiguration.java
  280-batch-processing/src/main/java/io/harness/batch/processing/svcmetrics/BatchJobExecutionListener.java
Owners: none

[CV-5925]: generate main_maven_install.json after merge
  project/main_maven_install.json
Owners: none

[CDP-18308]: Updated maven install json
  project/main_maven_install.json
Owners: none

[PIE-1581]: Fixing step palette api v2 (#28149)
  800-pipeline-service/src/main/java/io/harness/pms/pipeline/service/PMSPipelineServiceImpl.java
Owners: none

[PIE-1581]: Fixing step palette api v2 (#28149)
  800-pipeline-service/src/main/java/io/harness/pms/pipeline/service/PMSPipelineServiceImpl.java
Owners: none

[PIE-1581]: Fixing step palette api v2 (#28149)
  800-pipeline-service/src/main/java/io/harness/pms/pipeline/service/PMSPipelineServiceImpl.java
Owners: none

[PL-20463]: managed resource group for rollback (#28130)
  925-access-control-service/src/main/java/io/harness/accesscontrol/resources/resourcegroups/iterators/ResourceGroupReconciliationIterator.java
Owners: none

[PL-20463]: managed resource group for rollback (#28130)
  925-access-control-service/src/main/java/io/harness/accesscontrol/resources/resourcegroups/iterators/ResourceGroupReconciliationIterator.java
Owners: none

[PL-20463]: managed resource group for rollback (#28130)
  925-access-control-service/src/main/java/io/harness/accesscontrol/resources/resourcegroups/iterators/ResourceGroupReconciliationIterator.java
Owners: none

[CDC-14666]: removed dash from regex and message (#27693)
  400-rest/src/test/java/software/wings/service/ServiceVariableServiceTest.java
  980-commons/src/main/java/io/harness/data/validator/EntityNameValidator.java
Owners: none

[CDC-14666]: removed dash from regex and message (#27693)
  400-rest/src/test/java/software/wings/service/ServiceVariableServiceTest.java
  980-commons/src/main/java/io/harness/data/validator/EntityNameValidator.java
Owners: none

[CDC-14666]: removed dash from regex and message (#27693)
  400-rest/src/test/java/software/wings/service/ServiceVariableServiceTest.java
  980-commons/src/main/java/io/harness/data/validator/EntityNameValidator.java
Owners: none

[PL-20589]: removed validator from pipline and template entity (#28151)
  800-pipeline-service/src/main/java/io/harness/pms/pipeline/gitsync/PipelineEntityGitSyncHelper.java
  840-template-service/src/main/java/io/harness/template/gitsync/TemplateEntityGitSyncHandler.java
Owners: none

[PL-20589]: removed validator from pipline and template entity (#28151)
  800-pipeline-service/src/main/java/io/harness/pms/pipeline/gitsync/PipelineEntityGitSyncHelper.java
  840-template-service/src/main/java/io/harness/template/gitsync/TemplateEntityGitSyncHandler.java
Owners: none

[PL-20589]: removed validator from pipline and template entity (#28151)
  800-pipeline-service/src/main/java/io/harness/pms/pipeline/gitsync/PipelineEntityGitSyncHelper.java
  840-template-service/src/main/java/io/harness/template/gitsync/TemplateEntityGitSyncHandler.java
Owners: none

.github/CODEOWNERS:

DockerFile* diptiman.adak@harness.io udham.singh@harness.io george@harness.io guna.chandrasekaran@harness.io
WORKSPACE diptiman.adak@harness.io
/925-access-control-service/src/main/resources/io/harness/accesscontrol/ @gupta-utkarsh @ankit-harness
/125-cd-nextgen/src/test/resources/recaster/alias/alias.txt @prashantpal31
/300-cv-nextgen/src/test/resources/recaster/alias/alias.txt @prashantpal31
/320-ci-execution/src/test/resources/recaster/alias/alias.txt @prashantpal31
/800-pipeline-service/src/test/resources/recaster/alias/alias.txt @prashantpal31
/860-orchestration-steps/src/test/resources/recaster/alias/alias.txt @prashantpal31
/860-orchestration-visualization/src/test/resources/recaster/alias/alias.txt @prashantpal31
/870-orchestration/src/test/resources/recaster/alias/alias.txt @prashantpal31
